{
    "iceServers": [
        {
            "urls": [
                "stun:somehost:port"
            ]
        },
        {
            "urls": [
                "turn:somehost:port"
            ],
            "username": "someuser",
            "credential": "somepassword"
        }
    ],
    "iceTransportPolicy": "all"
}