*{
  box-sizing: border-box;
}

#root, html, body {
  margin: 0;
  height: 100%;
}

#videos {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  overflow: hidden;
}

.video-player {
  background-color: black;
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video-player.pip {
  border: 2px solid seagreen;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 200px;
}

.btn {
  cursor: pointer;
  user-select: none;
}

#call-control-panel {
  color: white;
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#room-control {
  display: flex;
  flex-wrap: nowrap;
}

#join-room {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.25em;
}

#join-room>div:first-of-type {
  background-color: seagreen;
  height: 50px;
  width: 25px;
  border-top-left-radius:50px;
  border-bottom-left-radius: 50px;
}

#room-code-input {
  background-color: seagreen;
  color: white;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  width: 8ch;
  height: 50px;
  border: 0px;
  margin: 0px;
  outline: none;
}

#join-room>#join-btn {
  background-color: seagreen;
  height: 50px;
  width: 50px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join-room>#join-btn>.call-control-icon {
  font-size: 2em;
}

.call-control-button {
  background-color: seagreen;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons.call-control-icon {
  font-size: 2em;
}